# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

#folders
/.idea/
/.idea/.gitignore
/.idea/GTS-cpp.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/cmake-build-debug/
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5961d4315863badac629.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/target-GTS-core-Debug-1ecabf46f0ff4e5a6a1c.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-0eaf9303b2127b3f3504.json
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/GTS-core.exe
/cmake-build-debug/GTS-core.ilk
/cmake-build-debug/GTS-core.pdb
/cmake-build-debug/
/cmake-build-release/
/OfficialDemo/
.idea/.name
build/
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/GTS-core.sln
build/GTS-core.vcxproj
build/GTS-core.vcxproj.filters
build/test1.vcxproj
build/test1.vcxproj.filters
build/testOphir.vcxproj
build/testOphir.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-77fbcaa28c1c7512a664.json
build/.cmake/api/v1/reply/cmakeFiles-v1-1665bf1e04e8f6126fe7.json
build/.cmake/api/v1/reply/codemodel-v2-5b9f22875c8293d9b1b1.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-03-17T14-59-22-0165.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-e54c4c0d4d56c7588b3e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-e54c4c0d4d56c7588b3e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-e54c4c0d4d56c7588b3e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-e54c4c0d4d56c7588b3e.json
build/.cmake/api/v1/reply/target-GTS-core-Debug-3b60ce6a1223451c7137.json
build/.cmake/api/v1/reply/target-GTS-core-MinSizeRel-8b25077460145012e00e.json
build/.cmake/api/v1/reply/target-GTS-core-Release-f3da139f32472358aff0.json
build/.cmake/api/v1/reply/target-GTS-core-RelWithDebInfo-70e82ecf66d4a44ed01b.json
build/.cmake/api/v1/reply/target-test1-Debug-783bfa72004a91ba8577.json
build/.cmake/api/v1/reply/target-test1-MinSizeRel-28ab0ac0eceabfa5f1df.json
build/.cmake/api/v1/reply/target-test1-Release-b04adcdf3d6be410d5b0.json
build/.cmake/api/v1/reply/target-test1-RelWithDebInfo-3fafabf89b71b0b86ddb.json
build/.cmake/api/v1/reply/target-testOphir-Debug-640fae242529bc0c20e3.json
build/.cmake/api/v1/reply/target-testOphir-MinSizeRel-386e2a6f2697d3e9897d.json
build/.cmake/api/v1/reply/target-testOphir-Release-f9b8e456857172230d0c.json
build/.cmake/api/v1/reply/target-testOphir-RelWithDebInfo-868171afa426a812835c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-9d3346705fe655320a18.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-9d3346705fe655320a18.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-9d3346705fe655320a18.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-9d3346705fe655320a18.json
build/.cmake/api/v1/reply/toolchains-v1-d19162570acee6f721be.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/VCTargetsPath.txt
build/CMakeFiles/3.31.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.31.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/b701d8f7173ec4b8dd6bd4a3e3bd4f84/generate.stamp.rule
build/Debug/GTS-core.exe
build/Debug/GTS-core.pdb
build/Debug/test1.exe
build/Debug/test1.pdb
build/Debug/testOphir.exe
build/Debug/testOphir.pdb
build/GTS-core.dir/Debug/GTS-core.exe.recipe
build/GTS-core.dir/Debug/GTS-core.ilk
build/GTS-core.dir/Debug/vc143.pdb
build/GTS-core.dir/Debug/GTS-core.tlog/CL.command.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/Cl.items.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/CL.read.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/CL.write.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/CustomBuild.command.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/CustomBuild.read.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/CustomBuild.write.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/GTS-core.lastbuildstate
build/GTS-core.dir/Debug/GTS-core.tlog/link.command.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/link.read.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/link.secondary.1.tlog
build/GTS-core.dir/Debug/GTS-core.tlog/link.write.1.tlog
build/test1.dir/Debug/test1.exe.recipe
build/test1.dir/Debug/test1.ilk
build/test1.dir/Debug/vc143.pdb
build/test1.dir/Debug/test1.tlog/CL.command.1.tlog
build/test1.dir/Debug/test1.tlog/Cl.items.tlog
build/test1.dir/Debug/test1.tlog/CL.read.1.tlog
build/test1.dir/Debug/test1.tlog/CL.write.1.tlog
build/test1.dir/Debug/test1.tlog/CustomBuild.command.1.tlog
build/test1.dir/Debug/test1.tlog/CustomBuild.read.1.tlog
build/test1.dir/Debug/test1.tlog/CustomBuild.write.1.tlog
build/test1.dir/Debug/test1.tlog/link.command.1.tlog
build/test1.dir/Debug/test1.tlog/link.read.1.tlog
build/test1.dir/Debug/test1.tlog/link.secondary.1.tlog
build/test1.dir/Debug/test1.tlog/link.write.1.tlog
build/test1.dir/Debug/test1.tlog/test1.lastbuildstate
build/testOphir.dir/Debug/OphirLMMeasurement.tlh
build/testOphir.dir/Debug/OphirLMMeasurement.tli
build/testOphir.dir/Debug/testOphir.exe.recipe
build/testOphir.dir/Debug/testOphir.ilk
build/testOphir.dir/Debug/vc143.pdb
build/testOphir.dir/Debug/testOphir.tlog/CL.command.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/Cl.items.tlog
build/testOphir.dir/Debug/testOphir.tlog/CL.read.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/CL.write.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/CustomBuild.command.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/CustomBuild.read.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/CustomBuild.write.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/link.command.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/link.read.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/link.secondary.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/link.write.1.tlog
build/testOphir.dir/Debug/testOphir.tlog/testOphir.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
src/Caen/Link.h
.vscode/settings.json
build/.cmake/api/v1/reply/cmakeFiles-v1-e1231ced038d242c33c3.json
build/.cmake/api/v1/reply/codemodel-v2-755765bd27c437a21c54.json
build/.cmake/api/v1/reply/index-2025-03-18T11-06-02-0307.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-443b4f9acb66fdbd2b52.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-443b4f9acb66fdbd2b52.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-443b4f9acb66fdbd2b52.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-443b4f9acb66fdbd2b52.json
build/.cmake/api/v1/reply/target-GTS-core-Debug-22fbcb97e386b8d63518.json
build/.cmake/api/v1/reply/target-GTS-core-MinSizeRel-94302f90c1b9d9846d19.json
build/.cmake/api/v1/reply/target-GTS-core-Release-7a5602c0b70e62fcc423.json
build/.cmake/api/v1/reply/target-GTS-core-RelWithDebInfo-c27324a3cc8db36f0304.json
build/.cmake/api/v1/reply/target-test1-Debug-36166819d10a8eff6bca.json
build/.cmake/api/v1/reply/target-test1-MinSizeRel-9ad18f5368dde245c252.json
build/.cmake/api/v1/reply/target-test1-Release-23be124eaad9257da7de.json
build/.cmake/api/v1/reply/target-test1-RelWithDebInfo-e86f9006a63182edb934.json
build/.cmake/api/v1/reply/target-testOphir-Debug-46711429999ca442cfaf.json
build/.cmake/api/v1/reply/target-testOphir-MinSizeRel-5cb044bb4d9206bcba96.json
build/.cmake/api/v1/reply/target-testOphir-Release-2416a542463d4b6d2ede.json
build/.cmake/api/v1/reply/target-testOphir-RelWithDebInfo-82ed14e9079d9f9f892e.json
build/GTS-core.dir/Release/GTS-core.exe.recipe
build/GTS-core.dir/Release/GTS-core.tlog/CL.command.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/Cl.items.tlog
build/GTS-core.dir/Release/GTS-core.tlog/CL.read.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/CL.write.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/CustomBuild.command.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/CustomBuild.read.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/CustomBuild.write.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/GTS-core.lastbuildstate
build/GTS-core.dir/Release/GTS-core.tlog/link.command.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/link.read.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/link.secondary.1.tlog
build/GTS-core.dir/Release/GTS-core.tlog/link.write.1.tlog
build/Release/GTS-core.exe
build/Release/test1.exe
build/Release/testOphir.exe
build/test1.dir/Release/test1.exe.recipe
build/test1.dir/Release/test1.tlog/CL.command.1.tlog
build/test1.dir/Release/test1.tlog/Cl.items.tlog
build/test1.dir/Release/test1.tlog/CL.read.1.tlog
build/test1.dir/Release/test1.tlog/CL.write.1.tlog
build/test1.dir/Release/test1.tlog/CustomBuild.command.1.tlog
build/test1.dir/Release/test1.tlog/CustomBuild.read.1.tlog
build/test1.dir/Release/test1.tlog/CustomBuild.write.1.tlog
build/test1.dir/Release/test1.tlog/link.command.1.tlog
build/test1.dir/Release/test1.tlog/link.read.1.tlog
build/test1.dir/Release/test1.tlog/link.secondary.1.tlog
build/test1.dir/Release/test1.tlog/link.write.1.tlog
build/test1.dir/Release/test1.tlog/test1.lastbuildstate
build/testOphir.dir/Release/OphirLMMeasurement.tlh
build/testOphir.dir/Release/OphirLMMeasurement.tli
build/testOphir.dir/Release/testOphir.exe.recipe
build/testOphir.dir/Release/testOphir.tlog/CL.command.1.tlog
build/testOphir.dir/Release/testOphir.tlog/Cl.items.tlog
build/testOphir.dir/Release/testOphir.tlog/CL.read.1.tlog
build/testOphir.dir/Release/testOphir.tlog/CL.write.1.tlog
build/testOphir.dir/Release/testOphir.tlog/CustomBuild.command.1.tlog
build/testOphir.dir/Release/testOphir.tlog/CustomBuild.read.1.tlog
build/testOphir.dir/Release/testOphir.tlog/CustomBuild.write.1.tlog
build/testOphir.dir/Release/testOphir.tlog/link.command.1.tlog
build/testOphir.dir/Release/testOphir.tlog/link.read.1.tlog
build/testOphir.dir/Release/testOphir.tlog/link.secondary.1.tlog
build/testOphir.dir/Release/testOphir.tlog/link.write.1.tlog
build/testOphir.dir/Release/testOphir.tlog/testOphir.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/reply/index-2025-03-21T10-38-58-0920.json
build/.cmake/api/v1/reply/codemodel-v2-b41f3d4a811b05b0c7a6.json
build/.cmake/api/v1/reply/index-2025-03-24T13-36-47-0488.json
build/.cmake/api/v1/reply/target-GTS-core-Debug-d19267efbc7c4a4768dc.json
build/.cmake/api/v1/reply/target-GTS-core-MinSizeRel-9b1a827e1230149980cd.json
build/.cmake/api/v1/reply/target-GTS-core-Release-9b8fa29de0209f706aee.json
build/.cmake/api/v1/reply/target-GTS-core-RelWithDebInfo-ce64b585b9befaa169d5.json
build/.cmake/api/v1/reply/target-test1-Debug-e6cf2c7aeb3bb1f9b53d.json
build/.cmake/api/v1/reply/target-test1-MinSizeRel-086baf4c3299b6e177a4.json
build/.cmake/api/v1/reply/target-test1-Release-7b09cf9f161ec331d9d0.json
build/.cmake/api/v1/reply/target-test1-RelWithDebInfo-5a64f2cf40ee34d3246b.json
build/.cmake/api/v1/reply/target-testOphir-Debug-0a3b5a979dc7d72bc9f2.json
build/.cmake/api/v1/reply/target-testOphir-MinSizeRel-7d82d142717b002f192f.json
build/.cmake/api/v1/reply/target-testOphir-Release-93f985f4ec5edde7a024.json
build/.cmake/api/v1/reply/target-testOphir-RelWithDebInfo-b8af796780a9addf3880.json
build/GTS-core.dir/Release/OphirLMMeasurement.tlh
build/GTS-core.dir/Release/OphirLMMeasurement.tli
utils/debug.json
